html {
	font-family: sans-serif;
}

table {
	border-spacing: 0;
}
th, td {
	padding: 5px 6px;
	border: solid 1px #aaa;
	border-width: 1px 0;
	text-align: left;
	vertical-align: top;
}
th:first-child, td:first-child {
	border-left-width: 1px;
}
th:last-child, td:last-child {
	border-right-width: 1px;
}
th.c, td.c {
	text-align: center;
}

button:default {
	font-weight: bold;
}

.mobile-line + .mobile-line:before {
	content: " | ";
}

.vscroll {
	max-height: 400px;
	overflow-y: auto;
	width: fit-content;
}
.vscroll thead th {
	position: sticky;
	top: 0;
	background-color: #eee;
	z-index: 234;
}

.config-wide {
	width: 30em;
}
.config-number {
	width: 4em;
}

.client-wide {
	width: 30em;
}
.client-wider {
	width: 40em;
}

.invoice-number {
	width: 3em;
}
.invoice-desc {
	width: 40em;
}
.invoice-rate {
	width: 3em;
}

.invoice-line-day {
	width: 3em;
}
.invoice-line-desc {
	width: 50em;
}
.invoice-line-subtotal {
	width: 5em;
}

@media (max-width: 420px) {
	button, select {
		padding: 8px 10px;
	}

	.mobile-line {
		display: block;
	}
	.mobile-line + .mobile-line {
		margin-top: 0.5em;
	}
	.mobile-line + .mobile-line:before {
		display: none;
	}

	.config-wide {
		width: 20em;
	}

	.client-wide {
		width: 20em;
	}
	.client-wider {
		width: 25em;
	}

	.invoice-number {
		width: 2em;
	}
	.invoice-desc {
		width: 17em;
	}

	.invoice-line-day {
		width: 2em;
	}
	.invoice-line-desc {
		width: 17em;
	}
	.invoice-line-subtotal {
		width: 4.5em;
	}
}
