html {
	font-family: sans-serif;
}

table {
	border-collapse: collapse;
}
th, td {
	padding: 5px 8px;
	border: solid 1px #aaa;
}
th {
	text-align: left;
}

button:default {
	font-weight: bold;
}

.mobile-line + .mobile-line:before {
	content: " | ";
}

.config-wide {
	width: 30em;
}
.config-number {
	width: 4em;
}

.client-wide {
	width: 30em;
}

.invoice-number {
	width: 3em;
}
.invoice-desc {
	width: 40em;
}
.invoice-rate {
	width: 3em;
}

.invoice-line-day {
	width: 3em;
}
.invoice-line-desc {
	width: 50em;
}
.invoice-line-subtotal {
	width: 5em;
}

@media (max-width: 420px) {
	button, select {
		padding: 8px 10px;
	}

	.mobile-line {
		display: block;
	}
	.mobile-line + .mobile-line {
		margin-top: 0.5em;
	}
	.mobile-line + .mobile-line:before {
		display: none;
	}

	.config-wide {
		width: 20em;
	}

	.client-wide {
		width: 20em;
	}

	.invoice-number {
		width: 2em;
	}
	.invoice-desc {
		width: 17em;
	}

	.invoice-line-day {
		width: 2em;
	}
	.invoice-line-desc {
		width: 17em;
	}
	.invoice-line-subtotal {
		width: 4.5em;
	}
}
